<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Testes" verbose="1">

        <parameter name="selen-svr-addr" value="localhost"/>
        <parameter name="aut-addr" value="http://localhost:8080/CPPD/"/>
        <parameter name="brwsr-path" value="*firefox"/>

        <!--
        <packages>
            <package name="carga" />
        </packages>
        -->

        <classes>
            <class name="carga.microrganismo.AddUser" />
        </classes>

        <!--
        <groups>
            <run>
                <exclude name="iduff.campello" />
            </run>
        </groups>
        -->
    </test>
</suite>

<!-- TUTORIAL MUITO BOM DE TESTNG:
http://www.ibm.com/developerworks/java/library/j-testng/

http://testng.org/doc/documentation-main.html

http://testng.org/dtd/

http://www.ibm.com/developerworks/java/library/j-testng/
-->
